<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- META TAG DEFINITIONS -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->  
    <meta name="description" content="Don't forget to add a 1-2 sentence description here." />
    <meta name="keywords" content="Don't forget to add 20-30 important keywords here." />

    <!-- PAGE TITLE -->
    <title>GTFS Transit Route Viewer - Build 001</title>

    <!-- STYLESHEET FILE REFERENCES -->
    <link href="css/bootstrap-3.3.4.min.css" rel="stylesheet" />
    <link href="css/main.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container-fluid">
      <div class="page-header">
        <h1>GTFS Transit Route Viewer</h1>
        <p class="lead">View GTFS data within Google Maps</p>
      </div><!-- END Header -->

      <div class="row">
        <div class="col-md-3" id="sidebar">
          <h2>Select Variables</h2>
            <p>Agency: <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span><br />
              <select class="form-control" id="agency">
                <option value="NULL">[ Select Preloaded GTFS ]</option>
                <option value="YRT">York Region Transit</option>
              </select>
            </p>
            <p>
              <button class="btn btn-primary" id="select-agency">Select Feed</button>
              <button class="btn btn-primary" id="upload-gtfs">Upload GTFS</button>
            </p>
            <p>Route: <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span><br />
              <select class="form-control" id="route" disabled>
                <option value="NULL">[ Select Route ]</option>
              </select>
            </p>
            <p>Trip: <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span><br />
              <select class="form-control" id="trip" disabled>
                <option value="NULL">[ Select Trip ID ]</option>
              </select>
            </p>
        </div>
        <div class="col-md-6" id="gmap">
          <h2>Map Not Loaded</h2>
          <p>Please check internet connection!</p>
        </div>
        <div class="col-md-3" id="gtfs-data">
          <h2>Output Data Display</h2>
          <p>This is test data here. More data will be output here from analysis.</p>
        </div>
      </div><!-- END Main Content -->
    </div><!-- END Container -->
    <div id="footer">
        Jon Kostyniuk &copy; 2015, Build 001
    </div>


    <!-- Modal Dialogue HTML -->
    <div id="mAgency" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Select Agency Feed</h4>
                </div>
                <div class="modal-body">
                    <p>Transit feeds from <a href="http://www.gtfs-data-exchange.com/" target="_blank">GTFS Exchange</a></p>
                    <div class="list-menu" id="agency-data">
                      <!-- Automatically populated from GTFS Exchange Transit Feed JSON -->
                      <!-- Example: <div class="list-item" id="t1" onClick="listClick(this.id)">Junk</div> -->
                    </div>
                    <!-- OnClick, automatically update agency preview information -->
                    <div><span id="aTotal" style="color: #ff0000">Total Agencies: --</span></div>
                    <div>Agency Name: <span id="aName" style="color: #999999">--</span></div>
                    <div>Location: <span id="aLocation" style="color: #999999">--</span></div>
                    <div>Agency URL: <span id="aURL" style="color: #999999">--</span></div>
                    <div>Feed URL: <span id="aFeed" style="color: #999999">--</span></div>
                    <div>Status: <span id="aOfficial" style="color: #999999">--</span></div>
                    <div>Feed Updated: <span id="aFeedLastUpdated" style="color: #999999">--</span></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="clear-agency" onClick="clearAgency()">Cancel</button>
                    <button type="button" class="btn btn-primary" id="load-agency" disabled=true>Load Agency</button>
                </div>
            </div>
        </div>
    </div>

    <!-- JAVASCRIPT FILE REFERENCES -->
    <script src="js/jquery-1.11.2.min.js"></script>
    <script src="js/bootstrap-3.3.4.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script src="js/main.js"></script>

    <!-- GOOGLE ANALYTICS SCRIPT: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='http://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>  
  </body>
</html>